@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Sys.Localization;
@inject IHtmlLocalizer<SysResource> L
@model Sys.Web.Pages.AuditLogs.DetailModalModel
@{
    Layout = null;
}
@* <abp-dynamic-form abp-model="SystemLog" data-ajaxForm="true" asp-page="DetailModal" data-check-form-on-close="false">
    <abp-modal>
        <abp-modal-header title="@L["SystemLog"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-form-content />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Close)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form> *@

@* <abp-modal asp-page="DetailModal" data-ajaxForm="true">
    <abp-modal-header title="@L["SystemLog"].Value"></abp-modal-header>
    <abp-modal-body>
        <abp-tabs>
            <abp-tab title="Home">
                <abp-dynamic-form abp-model="SystemLog.one"  data-check-form-on-close="false"></abp-dynamic-form>
            </abp-tab>
            <abp-tab title="Det">
                <abp-dynamic-form abp-model="SystemLog.two" data-check-form-on-close="false"></abp-dynamic-form>
            </abp-tab>
        </abp-tabs>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Close)"></abp-modal-footer>
</abp-modal>
 *@

<abp-modal abp-model="SystemLog" asp-page="DetailModal" data-ajaxForm="true" size="Large">
    <abp-modal-header title="@L["SystemLog"].Value"></abp-modal-header>
    <abp-modal-body>
        <abp-tabs>
            <abp-tab title="Overall">
                 @*    <div>
                        <label class="col-md">@L["UserName"].Value</label>
                        <label class="col-md"></label>
                    </div> *@
                @*<abp-input asp-for="SystemLog.ApplicationName"></abp-input> *@
                <abp-input asp-for="AuditDto.ApplicationName" readonly="true"></abp-input>
                <abp-input asp-for="AuditDto.UserName" readonly="true"></abp-input>
                <abp-input asp-for="AuditDto.ExecutionTime" readonly="true"></abp-input>
                <abp-input asp-for="AuditDto.ExecutionDuration" readonly="true"></abp-input>
                <abp-input asp-for="AuditDto.ClientIpAddress" readonly="true"></abp-input>
                <abp-input asp-for="AuditDto.ClientName" readonly="true"></abp-input>
                <abp-input asp-for="AuditDto.BrowserInfo" readonly="true"></abp-input>
                <abp-input asp-for="AuditDto.Exceptions" readonly="true"></abp-input>
            </abp-tab>

            <abp-tab title="Action (@Model.AuditDto.Actions.Count())">
                @* <abp-input asp-for="AuditDto.Actions"></abp-input> *@
       @*          <label class="form-label" for="SystemLog_actions">Actions</label>
                <pre lang="js" id="SystemLog_actions" class="form-control">test</pre>
                <input type="hidden" id="actions" value="@Html.Raw(Model.AuditDto.ActionString)" /> *@

                @{
                    var count = 1;
                    var actionClassName = string.Empty;
                    foreach (var action in Model.AuditDto.Actions)
                    {
                        actionClassName = "actions_" + count;

                        <abp-input readonly="true" asp-for="@action.ServiceName"></abp-input>
                        @* <abp-input readonly="true" asp-for="@action.ServiceName"></abp-input> *@
                        <abp-input readonly="true" asp-for="@action.MethodName"></abp-input>
                        <abp-input readonly="true" asp-for="@action.ExecutionTime"></abp-input>
                        <abp-input readonly="true" asp-for="@action.ExecutionDuration"></abp-input>
                        <pre lang="js" class="actions form-control @actionClassName"></pre>

                        <input type="hidden" class="actions hidden @actionClassName" value="@action.Parameters" />


                        <hr style="border-color:dimgrey" />
                        
                        count++;
                    }   
                }
            </abp-tab>
        </abp-tabs>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Close)"></abp-modal-footer>
 </abp-modal>
